<tr>
<td>
<!-- uneaten burgers on the left -->
<table align="center">
    <!-- Pass in data from server.js -->
    {{#each burgers}}
        {{#unless this.devoured}}
            <tr>
                <td>
                    {{this.id}}.{{this.burger_name}}
                    <img src="/assets/img/hamburger-icon.jpg" alt="" style="width:40px; height:auto;">
                </td>

                <td>
                  <button data-id="{{this.id}}" class="eatIt">Eat It</button>
                </td>
            </tr>
        {{/unless}}
    {{/each}}
</table>
</td>
<td>
<!-- devoured burgers on the right side -->
<table align="center">
    <!-- Pass in data from server.js -->
    {{#each burgers}}
        {{#if this.devoured}}
            <tr>
                <td>
                    {{this.id}}.{{this.burger_name}}
                    <img src="/assets/img/eatburger.jpg" alt="" style="width:18px; height:auto;">
                </td>
            </tr>
        {{/if}}
    {{/each}}
</table>
</td>
</tr>

<tr>
<td colspan="2" align="center">
<h3>Make Your Own Burger and Eat It.</h3>

<form class="create-form">

    <div class="form-group">
        <textarea rows="3" cols="75" id="burger_name" name="burger" placeholder="Add your burger here"></textarea>
        <button id="createBurger" type="submit">Create Burger</button>
    </div>

</form>
</td>
</tr>



